# files
environments/development.json
environments/stage.json
environments/test.json
environments/production.json
.console_history
dist
.nyc_output

# Editor
.code/
.vscode/

# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
